body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;
    font-family: Arial, sans-serif;
    touch-action: none;
}

#game-container {
    width: 100%;
    height: 100%;
}


/* Overlay für "Please turn device" message */
#turn {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 2em;
    display: flex;
    /* Immer Flexbox für Zentrierung verwenden */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Verstecke standardmäßig über display: none; */
    display: none;
    /* Dies ist die Ausgangsstellung */
}

@media screen and (orientation: portrait) {
    #turn {
        display: flex;
    }
}

@media screen and (orientation: landscape) {
    #turn {
        display: none;
    }
}